<p>Hello <%= @owner.full_name %>,</p>

<p>You've gotten a like to your idea:</p>

<p>Idea title: <%= @idea.title %></p>

<%= link_to "Click Here to View the Idea", idea_url(@idea) %>


<p>Regards,</p>

<p>Idea Factory Team</p>
